.btxdiv{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container{
    display:flex;
    flex-wrap:wrap;
    padding-top: 30px;

}

.newDivs{
    aspect-ratio: 1/1;
    flex:1 0 0px;
    margin: 0.5px;
    height: 50px;
    line-height: 30px;
    border: 2px solid black;
}

.hover{
    background-color: orange;
}
.hoverout{
    background-color: white;
}